{%extends '::base.html.twig'%}
{%block title%}
   Yo Add a Car Man!
{%endblock%}
{%block body%}
<<<<<<< HEAD
    <h3> Liste des voitures </h3>
<table caption="Details des voitures">
<tr>
<td>Id </td>
<td> </td>
<td>Model</td>
<td> </td>
<td>Gamme</td>
<td> </td>
<td>Date de fabrication</td>
<td> </td>
</tr>
</table>
=======
>>>>>>> 8fba135ffb23ae62484960797993ca5fd96e64d7
{%endblock%}
