    <h3> Liste des voitures </h3>

{% for voiture in voitures%}
<article>
<header>
<h2>{{ voiture.model}}</h2>
<h2>{{ voiture.gamme }}</h2>
<h2>{{ voiture.id }}</h2>
<time>{{ voiture.date|date('d m Y') }}</time>

</header>
<div class="content">
<h1>sa marche bien</h1>
</div>
</article>
{%endfor%}
